/* --- コンテンツの調整 --- */
.content {
    /* ヘッダーが固定されている分、中身が隠れないように上部に余白を開ける */
    padding-top: 80px; 
    padding-left: 20px;
    padding-right: 20px;
}

p{text-align:center;}

/* --- フッター --- */
footer {
    background-color: #eee;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}